.main{
    background-image: url("https://scontent.fpnh22-2.fna.fbcdn.net/v/t1.6435-9/213178626_3078632915684653_6716229458239247743_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=e3f864&_nc_ohc=_RPUDoB2FuQAX-xKKxd&_nc_ht=scontent.fpnh22-2.fna&oh=c020979c20998a1a1e1f978956aa8a6c&oe=6166C92B");
    background-repeat: no-repeat;
    background-size: cover;
}