
  .container{
    width: 100%;
    height: 10vh;
    
  }
  .dropdown{
    width: 400px;
    margin: 100px auto;
    position: relative;
  }
  .dropdown .dropdown-btn{
    padding:15px 20px;
    background: rgb(139, 135, 135);
    box-shadow:3px 3px 10px 6px rgba(0,0,0,0.06);
  font-weight:bold;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content:space-between;
  cursor: pointer;
  
  }
  .dropdown .dropdown-content{
    position: absolute;
    top: 110%;
    padding:10px;
    background: #fff;
    box-shadow:3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight:500;
    color: #333333!important;
  width: 100%;
  left: 0;
  z-index: 999999;
  }
  .dropdown .dropdown-content .dropdown-item{
    padding:10px;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none !important;
  }
  .dropdown .dropdown-content .dropdown-item:hover{
    background-color:gray!important;
    text-decoration: none !important;
  }
  .Link-options{
    text-decoration: none !important;
    color: black;
  }
